site_name: My Docs
site_url: https://mydomain.org/mysite
theme:
  name: material

  logo: AssetSito/butterfly.png

  palette: 

    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode


  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant.preview
    - navigation.top
    - navigation.sections
    - navigation.expand



  nav:
      - Home: index.md
      - About:
        - About Me: about/about.md
        - Childhood: about/chisono.md



